body {
    font-family: Permanent Marker;
    background: #000000;
}

.container-fluid.main {
    position: relative;
    /* To make the navbar positions relative to this container */
    padding: 0;
}

.covertext {
    position: absolute;
    /* To make the div to be place anywhere. It is out of the document flow */
    top: 200px;
    /* The distance between the div with the top of document */
    left: 0px;
    /* Make the div full width */
    right: 0px;
    /* Make the div full width */
}

.title {
    font-weight: 400;
    font-size: 6em;
    color: #092AE6;
    text-align: center;
    padding-bottom: 10px;
    /* text-shadow: -1px 0 #cccccc, 0 1px #cccccc, 1px 0 #cccccc, 0 -1px #cccccc; */
}

.white {
    color: #ffffff;
}

.subtitle {
    font-size: 1.5em;
    color: #092AE6;
    text-align: center;
    /* text-shadow: -1px 0 #cccccc, 0 1px #cccccc, 1px 0 #cccccc, 0 -1px #cccccc; */
}

.explore {
    text-align: center;
    margin-top: 40px;
}

.explore .btn-lg,
.explore .btn-lg:hover {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    font-size: 1.5em;
    padding: 10px 20px;
    background-image: none;
    background-color: #ff4000;
    border-color: #ff4000;
    color: #ffffff;
}

.btn,
.btn:hover {
    border-radius: 0px;
    background-image: none;
    background-color: #FF4000;
    border-color: #FF4000;
    color: #ffffff;
    margin-bottom: 20px;
    box-shadow: none;
    outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    color: #ffffff;
    outline: none;
}


@media only screen and (max-width: 768px) {
	.title {
		font-size: 3em;
	}
	.subtitle { 
		font-size: 1.2em;
	}
	.explore .btn .btn:hover .btn-lg:hover {
		font-size: 1em;
		border-radius: 10px;
	}
}
